form{
    display: flex;
    flex-direction: column;
    width: 25pc;
    color: aliceblue;
    position: absolute;

}
body{
    background-image: url('flowers.png');
    background-size: cover;
    background-repeat: no-repeat;
}
video{
    position: relative;
    float: right;
}
h1{
    text-align: center;
    color: antiquewhite;
}
.topnav a {
    float: right;
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 1s;
  }
  .topnav a:hover {
    width: 250px;
    padding-left: 40px;
    background-color: rgb(34, 117, 27);
    border: #000 2px solid;
    font-weight: bold;
    color: #edeeee;
  }