video{
    position: absolute;
}
.arbre{
    position: relative;
    
    width: 40pc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cerisier{
display: flex;

}
.cerisier figure{
    width: 40pc
}
iframe{
    position: relative;
    margin-top: 55px;
    

}
h1{
    color: rgb(0, 33, 60);
}
