*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,::after{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(29, 28, 28);
}
.main{
  padding-bottom: 100px;
}
.topnav {
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(29, 28, 28);
    
    border-radius: 10px;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed absolute;
  }
  h1{
    text-align: center;
  }
  .topnav a {
    float: right;
    
    color: rgb(243, 243, 243);
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.2s;
  }
  .topnav a:hover {
    width: fit-content;
    height: min-content;
    
    background-color: rgb(70, 9, 9);
    border: #000 2px transparent;
    color: #edeeee;
  }
  .image{
    height: 500px;
    width:inherit;
    background-size: cover;
    background-image: url("salon-m.jpg");
  }
  .icon{
    display: flex;
    justify-content: space-around;
    background-color: rgb(70, 9, 9); 
    width: 75pc;
    margin-left: 75px;
    border-radius: 25px;
    border:solid ;

  }
  i p{
    padding-left: 15px;
    font-size: larger;

}
  i img{
    padding-left: 20px;
  }
  .liste{
    display: flex;
    color:aliceblue;
    flex-direction: column;
  }
  .liste img{
    position: absolute;
  }
  

  
  .gauche{
    position: relative;
    left: 510px;
    width: 300px;
  }
  .droite{
    position: absolute;
    top: 720px;
    left: 850px;
    width: 300px;

  }
 iframe{
  position: relative;
  float: right;
  margin-right: 55px;
 }
  table{
    margin-top: 600px;
    font-size: larger;
    color: azure;
    margin-left: 190px;
  }
  .formulaire{
    display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  margin-left: 100px;
  }
  form {
  border: 5px solid #f1f1f1;
  }
  input[type=text], input[type=password] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  .icone {
  font-size: 110px;
  display: flex;
  justify-content: center;
  color: #4286f4;
  }
  button {
  background-color: #4286f4;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grab;
  width: 48%;
  margin-left: 190px;
  }
 
  button:hover {
  opacity: 0.8;
  }
  footer {
    margin-top: 60px;
    color:white;
    display: flex;
    border: solid;
    flex-direction: column;
    font-size: larger;
    background-color: red;
    text-align: center;
    flex-direction: column;
}
h3{
  padding-left: 35px;
}
footer li{
    display: inline-block;
    padding-left: 20px;
    height: 150px ;
}
article img{
left: 650px;
box-shadow:25px #000;
}


