<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
    <title>Site</title>
    
    <div class="topnav">
      
      <div class="header">
        <a href="#default" class="logo"><img src="logo.png" width="70"></a>
        <div class="header-right">
          <a class="active" href="#home">Acceuil</a>
          <a href="#https://www.notion.so/konexio/HTML-Exercices-de-validation-a312dd191b7a4057a8291467c9316b5b">Programme</a>
          <a href="#about">A propos</a>
        </div>
      </div>
    
    </div>
  </br><h1>  SF   </h2> 
      <div class = Image>
      
      <em>l'image qui suit:</em>
      <a href="https://www.notion.so/konexio/Texte-ea7aca3fffbd4fc4ab12ba5addb77550" target="_blank"><img src="fusée.jpg"></a>
      <input placeholder="Rejoignez-nous" type="button" > 
    </div>


      <div class = "liste"> 

      <fieldset>
       <legend> <em>Trouve ton évasion </em></legend>
    <table><tr>
      <th>Cinéma</th>
      <th>Littérature </th>
      <th>Jeuxvideo</th>
   </tr>
   <tr>
    
      <td> Êtes-vous certain de n'avoir rien oublié dans le header ? Avez-vous pensé à ajouter ce détail qui fera la différence ? Êtes-vous au fait des dernières tendances en matière de web design ?
      </td>

      <td> Êtes-vous certain de n'avoir rien oublié dans le header ? Avez-vous pensé à ajouter ce détail qui fera la différence ? Êtes-vous au fait des dernières tendances en matière de web design ?
      </td>
      <td> Êtes-vous certain de n'avoir rien oublié dans le header ? Avez-vous pensé à ajouter ce détail qui fera la différence ? Êtes-vous au fait des dernières tendances en matière de web design ?
     </td>
   </tr>
   <tr>
    <td> <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=1975.html" target :"_blank"><img src="blade.jpg"> </a></td>
    <td><a href="https://www.babelio.com/livres/Orwell-1984/2961 " target="_blank"><img src="OIP (1).png"></a></td>
    <td> <a href="https://www.ea.com/fr-fr/games/mass-effect/mass-effect-legendary-edition" target="_blank"><img src="mass.jpg"></a></td>
   </tr>
   <tr>
      <td>Blade Runner</td>
      
      <td>1984</td>
      <td>Mass Effect</td>
   </br>
   </tr></table>
  </fieldset>
  
  </div>
  <div class="center">
    <h1> Nous Suivre</h1>
    <form>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Email</span>
      </div>
      <div class="inputbox">
        <input type="password" required="required">
        <span>Mot de Passe</span>
      </div>
      <div class="inputbox">
        <input type="button" value="submit">
      </div>
    </form>
  </div>
</form>
 

   
    <footer>
      <ul>
        <li>LIPSUM</li>
        <li>LIPSUM</li>
        <li>LIPSUM</li>

      </ul>
      <h3>Tariq Drewniak</h3>
    </footer>
