header{
    display: flexbox;
    background-color: rgb(243, 243, 180);
    overflow: hidden;

}
h1{
    text-align: center;
}
header a{ 
    padding-left: 15px;
  
        text-decoration: none;
        color: black;
       }

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
body{
    background-image: url(culinaire.jpg);
}
table{
    height: 500px;
    width: 800px;
    
}
